/* COMMON */
[class*="sky_bg"]{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blue_sky_bg{
    background-image: url(../img/blue.jpg);
}
.purple_sky_bg{
    background-image: url(../img/purple.jpg);
}
.green_sky_bg{
    background-image: url(../img/green.jpg);
}
ul{
    list-style-type: none;
}
.btn:focus{
    box-shadow: none;
}
.row-cols-8 > .col{
    flex: 0 0 auto;
    width: calc(100% / 8);
}

/* HEADER */
.sun_img{
    bottom: .3rem;
}

/* MAIN */
main{
    height: calc(100vh - 250px);
}
.change_theme_wrapper{
    top: 10%;
    left: 4.1%;
}
.planet_thumbs_wrapper{
    top: 10%;
    right: 4.1%;
}
.planet_title_wrapper{
    top: 10%;
}
.slider_arrows_wrapper{
    bottom: 10%;
}
[class*="fa-arrow-circle-"]{
    cursor: pointer;
}
.planet_infos_wrapper span{
    line-height: 2rem;
}
.big_img{
    display: none;
}
.big_img.active{
    display: block;
    animation: active_big_img .25s linear 1;
}
.thumb_img{
    width: 40px;
}
.thumb_img.active{
    animation: active_thumb 1s linear infinite;
}
.list_key_item{
    display: none;
}
.list_key_item.active{
    display: list-item;
}
.main_planet_title{
    display: none;
}
.main_planet_title.active{
    display: block;
}
.info_text{
    display: none;
}
.info_text.active{
    display: inline;
}

/* FOOTER */

/* ANIMAZIONI */
@keyframes active_thumb{
    0%{
        bottom: 3rem;
    }
    25%{
        bottom: 3.5rem;
    }
    50%{
        bottom: 3rem;
    }
    75%{
        bottom: 3.5rem;
    }
    100%{
        bottom: 3rem;
    }
}

@keyframes active_big_img{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* HOVER */

/* MEDIA */