/* COMMON */
[class*="sky_bg"]{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blue_sky_bg{
    background-image: url(../img/blue.jpg);
}
.purple_sky_bg{
    background-image: url(../img/purple.jpg);
}
.green_sky_bg{
    background-image: url(../img/green.jpg);
}
ul{
    list-style-type: none;
}

/* HEADER */

/* MAIN */
main{
    height: calc(100vh - 250px);
}
.planet_title_wrapper{
    top: 10%;
}
.slider_arrows_wrapper{
    bottom: 10%;
}
[class*="fa-arrow-circle-"]{
    cursor: pointer;
}
.planet_infos_wrapper span{
    line-height: 2rem;
}
.big_img{
    display: none;
}
.big_img.active{
    display: block;
}
.list_key_item{
    display: none;
}
.list_key_item.active{
    display: list-item;
}
.main_planet_title{
    display: none;
}
.main_planet_title.active{
    display: block;
}


/* FOOTER */

/* ANIMAZIONI */

/* HOVER */

/* MEDIA */