/* COMMON */
[class*="sky_bg"]{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blue_sky_bg{
    background-image: url(../img/blue.jpg);
}
.purple_sky_bg{
    background-image: url(../img/purple.jpg);
}
.green_sky_bg{
    background-image: url(../img/green.jpg);
}

/* HEADER */

/* MAIN */
main{
    height: calc(100vh - 250px);
}
.planet_title_wrapper{
    top: 10%;
}
.slider_arrows_wrapper{
    bottom: 10%;
}


/* FOOTER */

/* ANIMAZIONI */

/* HOVER */

/* MEDIA */